@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;500&display=swap');
h1, h3 {
    font-family: 'Barlow', sans-serif;
    text-align: center;
}

.home {
    display: inline-block;
  
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background-color: lightgray;
    margin-top: 10px;
    height: 200px;
    border: 3px solid gray;
}

.hidden {
    display: none;
}
.home .selection-bar .btn-primary{
    margin-left: 10px;
    
    
}
